/* 小米商城首页的样式表 */
nav {
    background-color: #333;
    font-size       : 12px;
}

nav>div {
    height: 40px;
    margin: 0 auto;

}

nav ul.top-left>li {
    float       : left;
    line-height : 40px;
    margin-right: 10px;
}

nav ul.top-right {
    float: right;
}

nav ul.top-right>li {
    float       : left;
    line-height : 40px;
    margin-right: 10px;
}

div.cart {
    width           : 68px;
    height          : 40px;
    float           : right;
    line-height     : 40px;
    margin-right    : 5px;
    margin-left     : 20px;
    color           : #b0b0b0;
    background-color: #424242;
    padding         : 0px 10px;
}

nav li.bar {
    background-color: #505050;
    width           : 1px;
    height          : 10px;
    margin-top      : 15px;
}


nav a {
    text-decoration: none;
    color          : #b0b0b0;
}

nav a:hover:not(.carttext) {
    color: white;
}

nav div.cart {
    position: relative;
}

nav div.cart:hover {
    background-color: white;
}

nav div.cart:hover>a {
    color: orange;
}

nav div.cartblock {
    display         : none;
    width           : 316px;
    height          : 100px;
    background-color: white;
    position        : absolute;
    top             : 40px;
    right           : 0px;
    box-shadow      : 2px 2px 5px;
    line-height     : 100px;
    text-align      : center;
    vertical-align  : center;
    z-index         : 9999;
}


nav div.cart:hover>div.cartblock {
    display   : block;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav .qr {
    /* display: none; */
    width   : 124px;
    height  : 0px;
    overflow: hidden;

    /* 注意text-align是针对父元素而不是针对文字本身 */
    text-align      : center;
    /* 注意这里继承了li的line-height所以必须单独指定1倍行距 */
    line-height     : 1;
    position        : absolute;
    left            : -38px;
    /* 为属性的变化添加过渡效果 */
    transition      : height 0.5s;
    background-color: white;
    z-index         : 9999;
}

nav .qr>img {
    width        : 90px;
    height       : 90px;
    margin       : 17px;
    margin-bottom: 10px;
}

nav .triangle {
    display            : none;
    width              : 0px;
    height             : 0px;
    position           : absolute;
    border             : 10px solid transparent;
    border-top         : none;
    border-bottom-color: white;
    top                : 30px;
    margin             : 0px 12px;
}

nav .app {
    position: relative;
}

nav .app:hover .triangle {
    display: block;
}

nav .app:hover .qr {
    height    : 148px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav .qr>span {
    color: #333;
}

header {
    height  : 100px;
    position: relative;
}

header .cheader {
    margin        : 0 auto;
    vertical-align: center;
    z-index       : 111;
    position      : relative;

}

header .cheader .logo {
    float           : left;
    width           : 55px;
    height          : 55px;
    background-color: #ff6700;
    margin          : 22.5px 0px;
    position        : relative;
    overflow        : hidden;

}

header .cheader .mi {
    width     : 55px;
    height    : 55px;
    position  : absolute;
    right     : 0px;
    transition: right 0.5s;
}

header .cheader .home {
    width     : 55px;
    height    : 55px;
    position  : absolute;
    right     : 55px;
    top       : 0px;
    transition: right 0.5s;
}

header .cheader .logo:hover .mi {
    right: -55px;
}

header .cheader .logo:hover .home {
    right: 0px;
}

header .cnav a {
    text-decoration: none;
    font-size      : 16px;
    color          : #333;
}

header .cnav a:hover {
    color: #ff6700;
}

header .cnav ul:not(.sidebar) {
    float       : left;
    padding-left: 58px;
}

header .cnav ul:not(.sidebar)>li {
    float        : left;
    line-height  : 100px;
    padding-right: 20px;
}

header .cnav>ul .hidden {
    visibility: hidden;
}

header .cnav .goods {
    height          : 0px;
    overflow        : hidden;
    background-color: white;
    width           : 100%;
    position        : absolute;
    left            : 0px;
    top             : 100px;
    transition      : height 0.3s;
    z-index         : 9999;
}

header .cnav li:not(.noresp):hover~.goods {

    height    : 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

header .search-wrapper {
    width     : 294px;
    height    : 50px;
    float     : right;
    margin-top: 25px;
    border    : 1px solid rgb(224, 224, 224);
}

header .search-input {
    height      : 50px;
    width       : 221px;
    padding     : 0px 10px;
    border      : none;
    float       : left;
    border-right: 1px solid rgb(224, 224, 224);
    font-size   : 16px;
}

header .search-btn {
    height          : 50px;
    width           : 52px;
    padding         : 0px;
    margin          : 0 0;
    border          : none;
    float           : left;
    background-color: white;
    color           : #333;
    font-size       : 18px;
}

header .search-input:focus {
    outline: solid 1px #ff6700;
}

header .search-input:focus+.search-btn {
    outline: solid 1px #ff6700;
}

header .search-btn:hover {
    color           : white;
    background-color: #ff6700;
}

header .search {
    margin: 0;
}

header .cnav .sidebar {
    background-color: rgba(105, 101, 101, 0.6);
    height          : 420px;
    width           : 234px;
    border          : 0;
    color           : #fff;
    position        : absolute;
    left            : 0px;
    top             : 100px;
    padding         : 20px 0px;
    z-index         : 999;
}

header .cnav .sidebar a {
    color: #fff;
}


header .cnav .sidebar li {
    margin     : 0px;
    padding    : 0px 30px;
    line-height: 42px;
    height     : 42px;
}

header .cnav .sidebar li:hover {
    background-color: #ff6700;
}

header .cnav .sidebar li:hover~.details {
    display: block;
}

header .cnav .sidebar li span {
    float: left;
}

header .cnav .sidebar li i {
    float     : right;
    margin-top: 13px;
}

header .cnav .details {
    display         : none;
    position        : absolute;
    left            : 234px;
    top             : 0px;
    height          : 460px;
    width           : 992px;
    background-color: #fff;
    box-shadow      : 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

article .banner {
    width           : 1226px;
    height          : 460px;
    margin          : 0 auto;
    z-index         : 1000;
    background-color: rosybrown;
    position        : relative;
    z-index         : 1;
}

article .banner img {
    width   : 100%;
    height  : 100%;
    position: absolute;
}

article .banner img.show {
    z-index: 10;
}

article .banner .pointer {
    position: absolute;
    bottom  : 20px;
    right   : 20px;
    z-index : 9999;
}

article .banner .pointer a {
    float           : left;
    width           : 8px;
    height          : 8px;
    border-radius   : 50%;
    margin          : 4px;
    background-color: rgba(63, 63, 63, 0.5);
    border          : rgba(168, 168, 168, 0.6) 3px solid;
    background-clip : content-box;
}

article .banner .pointer a:hover,
article .banner .pointer a.active {
    background-color: white;
    border          : rgba(56, 56, 56, 0.5) 3px solid;
}

article .banner .arrow-left a,
article .banner .arrow-right a {
    width  : 41.5px;
    height : 69px;
    display: block;
}

article .banner .arrow-left {
    width              : 41.5px;
    height             : 69px;
    background-image   : url(./../../Media/img/mimall/icon-slides.png);
    background-position: -83px 0px;
    position           : absolute;
    left               : 234px;
    bottom             : 200px;
    z-index            : 9999;
    vertical-align     : center;
    text-align         : center;
}

article .banner .arrow-right {
    width              : 41.5px;
    height             : 69px;
    background-image   : url(./../../Media/img/mimall/icon-slides.png);
    background-position: -124.5px 0px;
    position           : absolute;
    right              : 0px;
    bottom             : 200px;
    z-index            : 9999;
    vertical-align     : center;
    text-align         : center;
}

article .banner .arrow-left:hover {
    background-position: 0px;
}

article .banner .arrow-right:hover {
    background-position: -41.5px;
}

.tools {
    width       : 30px;
    position    : fixed;
    bottom      : 100px;
    /* 
        布局的等式
            left + margin-left + width + margin-right + right = 视口的宽度
            auto + 0 + 30 + -643px + 50% = 视口宽度
            这里设置margin-right auto就会将块从中心推到右侧
    */
    right       : 50%;
    margin-right: -643px;

    background-color: white;
    box-shadow      : 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius   : 5%;
}

.tools ul {
    text-align: center;
}

.tools li {
    margin: 10px 5px;
}

.tools a {
    text-decoration: none;
    color          : rgb(128, 128, 128);
}

.tools li:hover a {
    color: #ff6700;
}

article .ad {
    margin    : 0 auto;
    margin-top: 24px;

}

article .short-cut {
    width           : 234px;
    height          : 170px;
    float           : left;
    background-color: #5f5750;

}

article .short-cut li {
    float     : left;
    width     : 76px;
    height    : 84px;
    text-align: center;
    position  : relative;
}

article .short-cut a {
    text-decoration: none;
    color          : #CFCCCA;
}

article .short-cut i {
    font-size  : 30px;
    padding-top: 20px;
}

article .short-cut span {
    font-size: 12px;
    display  : block;
}

article .short-cut a:hover {
    color: white;
}

article .short-cut li::before {
    content         : '';
    width           : 64px;
    height          : 1px;
    background-color: rgba(168, 168, 168, 0.2);
    position        : absolute;
    left            : 8px;
    top             : 2px;
}

article .short-cut li::after {
    content         : '';
    width           : 1px;
    height          : 70px;
    background-color: rgba(168, 168, 168, 0.2);
    position        : absolute;
    left            : 2px;
    top             : 9px;
}

article .btad {
    float          : left;
    margin         : 0px;
    background-clip: padding-box;
}

article .btad li {
    float      : left;
    margin-left: 15px;
    width      : 316px;
    height     : 170px;
}

article .btad a {
    width  : 316px;
    height : 170px;
    display: block;
}

article .btad li:first-child {
    background-image: url(./../../Media/img/mimall/1.jpg);
    background-size : contain;
}

article .btad li:nth-child(2) {
    background-image: url(./../../Media/img/mimall/2.jpg);
    background-size : contain;
}

article .btad li:nth-child(3) {
    background-image: url(./../../Media/img/mimall/3.jpg);
    background-size : contain;
}

article .ad .btad li:first-child {
    margin-left: 14px;
}